{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row mb-3">
  <div class="col-6">
    <a href="{% url 'exams:list' %}" class="btn btn-outline-primary">
      <i class="fas fa-angle-left fa-xs"></i>
      Cancel
    </a>
  </div>
  <div class="col-6 text-right">
    {% if object %}
      <!--
      <div class="btn-group">
        <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
          Comments
        </button>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
          <a class="dropdown-item" href="{% url 'comments:exam_list' exam.pk %}?is_resolved=false">
              Unresolved comments
              <span class="badge badge-light badge-pill" style="position: static;">
                {{ unresolved_comment }}
              </span>
          </a>
          <a class="dropdown-item" href="{% url 'comments:exam_list' exam.pk %}?is_resolved=unknown">All Comment</a>
          <a class="dropdown-item" href="{% url 'comments:exam_create' exam.pk %}">Create Comment</a>
        </div>
      </div>
      -->
      <a href="{% url 'exams:add_question' exam.pk %}" class="btn btn-outline-primary">
        Update Question
      </a>
      {% if exam.questions.count %}
        <a href="{% url 'exams:print' object.pk %}" class="btn btn-outline-primary">
          Print
        </a>
        <a href="{% url 'exams:print' object.pk %}?schema=1" class="btn btn-outline-primary">
            Print schema
        </a>
      {% endif %}
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <i class="nav-icon fas fa-scroll"></i>
        {% if object %}
          <b>Create Exam</b>
        {% else %}
          <b>Exam Form</b>
        {% endif %}
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="row">
            <div class="col-6">
              <input type="submit" value="Submit" class="btn btn-primary">
              {% if not object.pk %}
                <input type="submit" name="next" value="Add Question >" class="btn btn-outline-primary">
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% if object %}
  {% for question in exam.questions.all %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header text-right">
            <a
              href="{% url 'comments:question_list' question.pk %}?is_resolved=false&exam={{ exam.pk }}"
              class="btn btn-ghost-primary"
              data-toggle="tooltip"
              data-placement="bottom"
              title="View comments"
            >
              <i class="fas fa-comment-dots"></i>
              {{ question.unresolve_comment|default:"" }}
            </a>
            <a
              href="{% url 'comments:question_create' question.pk %}?exam={{ exam.pk }}"
              class="btn btn-ghost-primary"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Create comment"
            >
              <i class="fas fa-comment-medical"></i>
            </a>
          </div>
          <div class="card-body">
            {{ question }}
            {% for choice in question.choices.all %}
              <hr>
              {{ choice }}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}
{% endblock content %}
