{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row mb-3">
  <div class="col-12">
      <a href="#" class="btn btn-outline-primary" onclick="window.history.back()">
        <i class="fas fa-angle-left fa-xs"></i>
        Back
      </a>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <i class="nav-icon fas fa-scroll"></i>
        {% if object %}
          <b>Update exam's question</b>
        {% else %}
          <b>Add exam's question</b>
        {% endif %}
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <div class="row">
            <div class="col-12">
              <input type="submit" value="submit" class="btn btn-primary">
              <a href="{% url 'exams:list' %}" class="btn btn-danger">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
