{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h1>

  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>
      The password reset link was invalid, possibly because it has already been used.Please request a
      <a href="{{ passwd_reset_url }}">new password reset</a>.
    </p>
  {% else %}
    {% if form %}
      <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" name="action" value="change password"/>
      </form>
    {% else %}
      <p>Your password is now changed.</p>
    {% endif %}
  {% endif %}
{% endblock %}
