<div class="row">

  {# one #}
  <div class="col-sm-6 col-lg-4">

    <div class="card text-white bg-success">

      <div class="card-body pb-0">
        <div class="btn-group float-right">
          <a
            class="btn btn-transparent p-0"
            href="{% url 'exams:list' %}"
          >
            <i class="fas fa-external-link-square-alt fa-xs"></i>
        </a>
        </div>
        <div class="text-value">{{ total_exam }}</div>
        <div>Total Exams</div>
      </div>

      <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
        <div
          style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"
          class="chartjs-size-monitor"
        >
          <div
            class="chartjs-size-monitor-expand"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
          >
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
          </div>
          <div
            class="chartjs-size-monitor-shrink"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
          >
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
          </div>
        </div>
        <canvas
          class="chart chartjs-render-monitor"
          id="card-chart4"
          height="140"
          style="display: block; height: 70px; width: 299px;"
          width="598">
        </canvas>
      </div>

    </div>

  </div>

  {# two #}
  <div class="col-sm-6 col-lg-4">

    <div class="card text-white bg-warning">

      <div class="card-body pb-0">
        <div class="btn-group float-right">
          <a
            class="btn btn-transparent p-0"
            href="{% url 'exams:list' %}"
          >
            <i class="fas fa-external-link-square-alt fa-xs"></i>
        </a>
        </div>
        <div class="text-value">{{ total_question }}</div>
        <div>Total Questions</div>
      </div>

      <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
        <div
          style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"
          class="chartjs-size-monitor"
        >
          <div
            class="chartjs-size-monitor-expand"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
          >
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
          </div>
          <div
            class="chartjs-size-monitor-shrink"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
          >
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
          </div>
        </div>
        <canvas
          class="chart chartjs-render-monitor"
          id="card-chart4"
          height="140"
          style="display: block; height: 70px; width: 299px;"
          width="598">
        </canvas>
      </div>

    </div>

  </div>

{# three #}
  <div class="col-sm-6 col-lg-4">

    <div class="card text-white bg-primary">

      <div class="card-body pb-0">
        <div class="btn-group float-right">
          <a
            class="btn btn-transparent p-0"
            href="{% url 'exams:list' %}"
          >
            <i class="fas fa-external-link-square-alt fa-xs"></i>
        </a>
        </div>
        <div class="text-value">{{ total_question_created }}</div>
        <div>Question Created</div>
      </div>

      <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
        <div
          style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"
          class="chartjs-size-monitor"
        >
          <div
            class="chartjs-size-monitor-expand"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
          >
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
          </div>
          <div
            class="chartjs-size-monitor-shrink"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
          >
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
          </div>
        </div>
        <canvas
          class="chart chartjs-render-monitor"
          id="card-chart4"
          height="140"
          style="display: block; height: 70px; width: 299px;"
          width="598">
        </canvas>
      </div>

    </div>

  </div>

</div>
