{% extends 'base.html' %}

{% block content %}
<div class="row mb-3">
  <div class="col-6">
    <a href="{% url 'questions:list' %}" class="btn btn-outline-primary">
      <i class="fas fa-angle-left fa-xs"></i>
      Back
    </a>
  </div>
  <div class="col-6 text-right">
    <a
      href="#"
      onclick="document.getElementById('delete-{{ question.pk }}').submit()"
      class="btn btn-danger"
    >
        Delete
    </a>
    {% if perms.analyses.view_analysis %}
      {% if question.analysis %}
        <a href="{% url 'analyses:update' question.pk question.analysis.pk %}" class="btn btn-success">Update Analysis</a>
      {% else %}
        <a href="{% url 'analyses:create' question.pk %}" class="btn btn-success">Create Analysis</a>
      {% endif %}
    {% endif %}

    <div class="btn-group">
      <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
        Comments
        {% if unresolved_comment %}
          <span class="badge badge-light badge-pill" style="position: static;">
            {{ unresolved_comment }}
          </span>
        {% endif %}
      </button>
      <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
        <a class="dropdown-item" href="{% url 'comments:question_list' question.pk %}?is_resolved=false">
            Unresolved comments
            <span class="badge badge-light badge-pill" style="position: static;">
              {{ unresolved_comment }}
            </span>
        </a>
        <a class="dropdown-item" href="{% url 'comments:question_list' question.pk %}?is_resolved=unknown">All Comment</a>
        <a class="dropdown-item" href="{% url 'comments:question_create' question.pk %}">Create Comment</a>
      </div>
    </div>

    <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          Action
        </button>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
          <a href="{% url 'questions:create' %}?question={{ question.pk }}" class="dropdown-item">
            Copy to new question
          </a>
          <a href="{% url 'questions:update' question.pk %}" class="dropdown-item">
            Update Question
          </a>
          <a href="{% url 'questions:choice_create' question.pk %}" class="dropdown-item">
            Add Choice
          </a>
        </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12"><b>{{ question.created_by }} | {{ question.created_at }}</b></div>
        </div>
      </div>
      <div class="card-body">
        {{ question.question|safe }}
      </div>
    </div>
  </div>
</div>

{% for choice in question.choices.all %}
<div class="row mt-3">
  <div class="col-12">
    <div
      class="card {% if choice.is_correct %}card-accent-success{% endif %}"
    >
      <div class="card-header">
        <div class="row">
          <div class="col-12 text-right">
              <a
                href="{% url 'questions:choice_update' question.pk choice.pk %}"
                class="btn btn-ghost-primary"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Update choice"
              >
                <i class="fas fa-pencil-alt fa-xs"></i>
              </a>
            <a href="#"
                class="btn btn-ghost-danger"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Delete choice"
                onclick="document.getElementById('delete-{{ forloop.counter }}').submit()"
              >
              <i class="fas fa-trash fa-xs"></i>
            </a>
            <form
              action="{% url 'questions:choice_delete' question.pk choice.pk %}"
              id="delete-{{ forloop.counter }}"
              method="post"
                style="display:none"
            >
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
      <div class="card-body">
        {{ choice.choice|safe }}
      </div>
    </div>
  </div>
</div>
{% endfor %}

<form
  action="{% url 'questions:delete' question.pk %}"
  id="delete-{{ question.pk }}"
  method="post"
  style="display:none"
>
  {% csrf_token %}
</form>
{% endblock content %}
