{% load render_bundle from webpack_loader %}
{% load cache %}
{% cache 86400 basepagetop %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Qbank</title>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
  {% render_bundle 'runtime' %}
  {% render_bundle 'main' %}
  {% render_bundle 'vendor' %}
  {% render_bundle 'main_css' %}
{% endcache %}
  {% include 'header.html' %}

  <div class="app-body">
    {% include "sidebar.html" %}
    <main class="main">
      <div class="container-fluid my-4">
        {% block content %}{% endblock %}
      </div>
    </main>
  </div>

  {% if messages %}
      {% for message in messages %}
        <script>
          toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
          }
          toastr['{{ message.tags }}']('{{ message }}')
        </script>
      {% endfor %}
  {% endif %}
</body>
</html>
